# Default ignored files
/shelf/
*workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Projekt.iml
/contentModel.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

*.dll
/.idea/
/ApiGateway/ApiGateway/obj/
/ApiGateway/.vs/
/ApiGateway/.idea/
*/.idea

#TripService
/TripService/obj
/TripService/bin

#ApiGateway
/ApiGateway/obj
/ApiGateway/bin

#frontend-client
/frontend-client/.idea

#CommonComponents
/CommonComponents/obj
/CommonComponents/bin

#TransportService
/TransportService/obj/*
/TransportService/bin/*

#PaymentService
/PaymentService/obj
/PaymentService/bin

